Repository LNSD/rust-libp2p-pubsub: changes, and which Codecov flags are due for each by the changed paths.
All: libp2p-pubsub-proto, libp2p-pubsub-common, libp2p-pubsub-core, libp2p-pubsub-floodsub, libp2p-pubsub

to-revert
  floodsub/src/router/router_impl.rs
  floodsub/src/router/tests.rs
  pubsub-core/src/behaviour.rs
  pubsub-core/src/protocol/router_trait.rs
Due: libp2p-pubsub-core, libp2p-pubsub-floodsub

fix-up
  codecov.yml
Due: none

Revert "to-revert"
  floodsub/src/router/router_impl.rs
  floodsub/src/router/tests.rs
  pubsub-core/src/behaviour.rs
  pubsub-core/src/protocol/router_trait.rs
Due: libp2p-pubsub-core, libp2p-pubsub-floodsub

chore(ci): add codecov components configuration (#160)
  codecov.yml
Due: none

refactor: decouple service trait from service context implementation
  Cargo.lock
  floodsub/src/router/router_impl.rs
  pubsub-common/Cargo.toml
  pubsub-common/src/service.rs
  pubsub-common/src/service/buffered_context.rs
  pubsub-common/src/service/context.rs
  pubsub-common/src/service/context_handles.rs
  pubsub-common/src/service/service_trait.rs
  pubsub-core/src/conn_handler/downstream.rs
  pubsub-core/src/conn_handler/recv_only_stream_handler.rs
  pubsub-core/src/conn_handler/send_only_stream_handler.rs
  pubsub-core/src/services/connections/service.rs
  pubsub-core/src/services/framing/service_downstream.rs
  pubsub-core/src/services/framing/service_upstream.rs
  pubsub-core/src/services/message_cache/service.rs
  pubsub-core/src/services/message_id/service.rs
  pubsub-core/src/services/subscriptions/service.rs
  pubsub-core/tests/pubsub_testlib/noop_protocol.rs
Due: libp2p-pubsub-common, libp2p-pubsub-core, libp2p-pubsub-floodsub

refactor: decouple service trait from service context implementation (I)
  pubsub-common/src/service/service_trait.rs
Due: libp2p-pubsub-common

refactor: decouple service trait from service context implementation (II)
  pubsub-common/src/service/service_trait.rs
Due: libp2p-pubsub-common

refactor: decouple service trait from service context implementation (III)
  pubsub-common/src/service/context_handles.rs
Due: libp2p-pubsub-common

refactor: decouple service trait from service context implementation (IV)
  pubsub-common/src/service/buffered_context.rs
Due: libp2p-pubsub-common

refactor: decouple service trait from service context implementation (V)
  pubsub-common/src/service/buffered_context.rs
Due: libp2p-pubsub-common

refactor: decouple service trait from service context implementation (#161)
  Cargo.lock
  floodsub/src/router/router_impl.rs
  pubsub-common/Cargo.toml
  pubsub-common/src/service.rs
  pubsub-common/src/service/buffered_context.rs
  pubsub-common/src/service/context.rs
  pubsub-common/src/service/context_handles.rs
  pubsub-common/src/service/service_trait.rs
  pubsub-core/src/conn_handler/downstream.rs
  pubsub-core/src/conn_handler/recv_only_stream_handler.rs
  pubsub-core/src/conn_handler/send_only_stream_handler.rs
  pubsub-core/src/services/connections/service.rs
  pubsub-core/src/services/framing/service_downstream.rs
  pubsub-core/src/services/framing/service_upstream.rs
  pubsub-core/src/services/message_cache/service.rs
  pubsub-core/src/services/message_id/service.rs
  pubsub-core/src/services/subscriptions/service.rs
  pubsub-core/tests/pubsub_testlib/noop_protocol.rs
Due: libp2p-pubsub-common, libp2p-pubsub-core, libp2p-pubsub-floodsub

refactor: split event handler out of service trait
  floodsub/src/router/router_impl.rs
  floodsub/src/router/tests.rs
  pubsub-common/src/service.rs
  pubsub-common/src/service/event_handler.rs
  pubsub-common/src/service/service_trait.rs
  pubsub-core/src/behaviour.rs
  pubsub-core/src/protocol/router_trait.rs
  pubsub-core/src/services/connections/service.rs
  pubsub-core/src/services/connections/tests.rs
  pubsub-core/src/services/framing/context.rs
  pubsub-core/src/services/framing/service_downstream.rs
  pubsub-core/src/services/framing/service_upstream.rs
  pubsub-core/src/services/framing/tests.rs
  pubsub-core/src/services/message_id/service.rs
  pubsub-core/src/services/message_id/tests.rs
  pubsub-core/src/services/subscriptions/service.rs
  pubsub-core/src/services/subscriptions/tests.rs
  pubsub-core/tests/pubsub_testlib/noop_protocol.rs
  testlib/src/service.rs
Due: libp2p-pubsub-common, libp2p-pubsub-core, libp2p-pubsub-floodsub

refactor: split event handler out of service trait (I)
  pubsub-core/tests/pubsub_testlib/noop_protocol.rs
Due: libp2p-pubsub-core

refactor: split event handler out of service trait (II)
  pubsub-common/src/service.rs
  pubsub-common/src/service/event_handler.rs
  pubsub-common/src/service/service_trait.rs
  pubsub-core/src/behaviour.rs
  pubsub-core/src/services/connections/tests.rs
  pubsub-core/src/services/framing/context.rs
  pubsub-core/src/services/framing/tests.rs
  pubsub-core/src/services/message_id/tests.rs
  pubsub-core/src/services/subscriptions/tests.rs
  testlib/src/service.rs
Due: libp2p-pubsub-common, libp2p-pubsub-core

refactor: split event handler out of service trait (III)
  floodsub/src/router/tests.rs
Due: libp2p-pubsub-floodsub

refactor: split event handler out of service trait (#162)
  floodsub/src/router/router_impl.rs
  pubsub-common/src/service.rs
  pubsub-common/src/service/event_handler.rs
  pubsub-common/src/service/service_trait.rs
  pubsub-core/src/protocol/router_trait.rs
  pubsub-core/src/services/connections/service.rs
  pubsub-core/src/services/framing/service_downstream.rs
  pubsub-core/src/services/framing/service_upstream.rs
  pubsub-core/src/services/message_id/service.rs
  pubsub-core/src/services/subscriptions/service.rs
  pubsub-core/tests/pubsub_testlib/noop_protocol.rs
Due: libp2p-pubsub-common, libp2p-pubsub-core, libp2p-pubsub-floodsub

refactor(pubsub-common): service code reorganization
  pubsub-common/src/service.rs
  pubsub-common/src/service/buffered_context.rs
  pubsub-common/src/service/context_handles.rs
  pubsub-common/src/service/event_handler_trait.rs
  pubsub-common/src/service/service_trait.rs
Due: libp2p-pubsub-common

refactor(pubsub-common): service code reorganization (#163)
  pubsub-common/src/service.rs
  pubsub-common/src/service/buffered_context.rs
  pubsub-common/src/service/context_handles.rs
  pubsub-common/src/service/event_handler_trait.rs
  pubsub-common/src/service/service_trait.rs
Due: libp2p-pubsub-common

refactor(test): tests/floodsub - addition of test_factory.rs
  floodsub/tests/floodsub/connections.rs
  floodsub/tests/floodsub/flood_testlib/mod.rs
  floodsub/tests/floodsub/flood_testlib/test_factory.rs
  floodsub/tests/floodsub/mod.rs
  floodsub/tests/floodsub/routing.rs
  floodsub/tests/floodsub/subscriptions.rs
Due: libp2p-pubsub-floodsub

Adding the test_factory.rs file into the testlib crate
  floodsub/tests/floodsub/connections.rs
  floodsub/tests/floodsub/flood_testlib/mod.rs
  floodsub/tests/floodsub/mod.rs
  floodsub/tests/floodsub/routing.rs
  floodsub/tests/floodsub/subscriptions.rs
  floodsub/tests/libp2p_interop/libp2p_floodsub.rs
  floodsub/tests/libp2p_interop/libp2p_gossipsub.rs
  pubsub-core/tests/it_behaviour_connections_service.rs
  pubsub-core/tests/it_behaviour_subscriptions_service.rs
  testlib/Cargo.toml
  testlib/src/lib.rs
  testlib/src/test_factory.rs
Due: libp2p-pubsub-core, libp2p-pubsub-floodsub

Revert "Restoring back codecoverage levels. Usage of clone() in Config."
  testlib/src/test_factory.rs
Due: none

Restoring back codecoverage levels. Usage of clone() in Config.
  testlib/src/test_factory.rs
Due: none

Revert "Adding the test_factory.rs file into the testlib crate"
  floodsub/tests/floodsub/connections.rs
  floodsub/tests/floodsub/flood_testlib/mod.rs
  floodsub/tests/floodsub/flood_testlib/test_factory.rs
  floodsub/tests/floodsub/mod.rs
  floodsub/tests/floodsub/routing.rs
  floodsub/tests/floodsub/subscriptions.rs
  floodsub/tests/libp2p_interop/libp2p_floodsub.rs
  floodsub/tests/libp2p_interop/libp2p_gossipsub.rs
  pubsub-core/tests/it_behaviour_connections_service.rs
  pubsub-core/tests/it_behaviour_subscriptions_service.rs
  testlib/Cargo.toml
  testlib/src/lib.rs
Due: libp2p-pubsub-core, libp2p-pubsub-floodsub

Revert "refactor(test): tests/floodsub - addition of test_factory.rs"
  floodsub/tests/floodsub/connections.rs
  floodsub/tests/floodsub/flood_testlib/mod.rs
  floodsub/tests/floodsub/flood_testlib/test_factory.rs
  floodsub/tests/floodsub/mod.rs
  floodsub/tests/floodsub/routing.rs
  floodsub/tests/floodsub/subscriptions.rs
Due: libp2p-pubsub-floodsub

floodsub/tests: Encapsulating code in 'test_factory'.
  floodsub/tests/flood_testlib/mod.rs
  floodsub/tests/flood_testlib/test_factory.rs
  floodsub/tests/floodsub/connections.rs
  floodsub/tests/floodsub/routing.rs
  floodsub/tests/floodsub/subscriptions.rs
  floodsub/tests/it_floodsub.rs
Due: libp2p-pubsub-floodsub

tests(floodsub): add test factory (#144)
  floodsub/tests/flood_testlib/mod.rs
  floodsub/tests/flood_testlib/test_factory.rs
  floodsub/tests/floodsub/connections.rs
  floodsub/tests/floodsub/routing.rs
  floodsub/tests/floodsub/subscriptions.rs
  floodsub/tests/it_floodsub.rs
Due: libp2p-pubsub-floodsub

chore(ci): run ci only on renovate bot lockfile maintenance branch push
  .github/workflows/ci.yml
Due: none

chore(ci): run ci only on renovate bot lockfile maintenance branch push (#167)
  .github/workflows/ci.yml
Due: none

chore(ci): pin cargo-nextest to 0.9.57 (msrv 1.66.0)
  .github/workflows/ci.yml
Due: none

chore(ci): pin cargo-nextest to 0.9.57 to support msrv 1.66.0 policy (#168)
  .github/workflows/ci.yml
Due: none

fix(core): solve clippy::four-forward-slashes error
  pubsub-core/src/services/message_id/tests.rs
Due: libp2p-pubsub-core

fix(core): solve clippy::four-forward-slashes lint error (#179)
  pubsub-core/src/services/message_id/tests.rs
Due: libp2p-pubsub-core

chore(deps): update rust crate asynchronous-codec to 0.7.0 (I)
  pubsub-core/src/conn_handler/codec.rs
Due: libp2p-pubsub-core

Path conditions:
  libp2p-pubsub-proto: any of: pubsub-proto/**, but not: testlib
  libp2p-pubsub-common: any of: pubsub-common/**, but not: testlib
  libp2p-pubsub-core: any of: pubsub-core/**, but not: testlib
  libp2p-pubsub-floodsub: any of: floodsub/**, but not: testlib
  libp2p-pubsub: any of: meta/**, but not: testlib
